
# Visual Studio local project files
.vs/
*.user

# Build system
*.ninja
.ninja_log
*.pdb
intermediate/
build/
out/
x64/
x64Debug/

# Compiled object files
*.slo
*.lo
*.o

# Executables
*.exe
*.out
*.app
!EuropaBuild.exe

# SPIR-V compiled shaders
*.spv

# Compiled Static libraries
*.lib
*.a
*.lai
*.la

# Compiled Dynamic libraries
*.dll
*.so
*.dylib

# Precompiled Headers
*.gch
*.pch

# Whitelist some compiled files under src directory
!/src/**/*.lib
!/src/**/*.a
!/src/**/*.dll
!/src/**/*.so
!/src/**/*.gch
!/src/**/*.pch

# Prerequisites
*.d

# Other project files
*.blend1
*.code-workspace
