
# Visual Studio project and build files
x64/
x64Debug/
.vs/
*.filters
*.user

# Build system files
intermediate/
build/
out/
*.ninja
.ninja_log
*.pdb
# Allow LIB and DLL files in the src directory to be tracked
!/src/**/*.lib
!/src/**/*.dll

# SPIR-V compiled shaders
*.spv

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch
# Allow in src directory
!/src/**/*.gch
!/src/**/*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Blender project files
*.blend1
*.code-workspace
