[submodule "Src/Core/Dependencies/europasoft-json"]
	path = Src/Core/Dependencies/europasoft-json
	url = https://github.com/Europasoft/europasoft-json
[submodule "Src/Core/Dependencies/box3d-cpp"]
	path = Src/Core/Dependencies/box3d-cpp
	url = https://github.com/Europasoft/box3d-cpp
